# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files (large)
*.h5
*.ckpt
*.pb

# Dataset (not uploaded to repo)
data/
*.csv
*.tsv
*.zip

# System files
.DS_Store
Thumbs.db
